<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrmLicensing.CrmPackageByKey.Plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CrmLicensing.CrmPackageByKey.Plugins.Properties.Settings>
            <setting name="CRM_Solution_Licensing_CrmLicensing_CrmPackageByKey_Plugins_eu_europa_ec_checkVatService"
                serializeAs="String">
                <value>http://ec.europa.eu/taxation_customs/vies/services/checkVatService</value>
            </setting>
        </CrmLicensing.CrmPackageByKey.Plugins.Properties.Settings>
    </applicationSettings>
</configuration>